## Operators

### Arithmatic

In [1]:
2+6

8

In [2]:
'hola'*3

'holaholahola'

In [3]:
10**2

100

In [4]:
10%3

1

### Relational

In [6]:
10 < 30 <40

True

In [7]:
10 == 20

False

In [8]:
10 != 10

False

In [9]:

False == False

True

In [10]:
1 == True

True

In [13]:
a = 2
a >=3

False

### Logical Operators

In [14]:
True and True

True

In [15]:
3 and 4

4

In [16]:
0 and 2

0

In [17]:
8 or 7

8

In [18]:
0 or 3

3

In [19]:
not 10

False

In [20]:
not ""

True

In [21]:
10 or 10/0

10

In [23]:
0 or 10/0

ZeroDivisionError: division by zero

### Bitwise operator

In [24]:
4&8

0

In [25]:
2&4

0

In [26]:
3.4 &39.3

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [27]:
True & True

True

In [28]:
True >> 3

0

### Assignment operator

In [29]:
a,b,c =2,3,4

In [31]:
a = 2,3
a

(2, 3)

In [35]:
c = 1

In [36]:
++c

1

### Ternary Operator

In [37]:
x = 1 if 4==5 else 3
x

3

### Identity operator

In [38]:
a, b = 10,10
a is b

True

In [39]:
a = 10.2
b = 10.2

a is b

False

### Membership operator

In [40]:
a = [2,3,4,5]
3 in a

True

In [41]:
5 not in a

False

In [42]:
a = 'hai mahn'
'm' in a

True